rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // SVI MOGU da čitaju (slike profila, galeriju)
    match /{allPaths=**} {
      allow read: if true;

      /* Pisanje (upload, update, delete) dozvoljavamo
         SAMO ako je korisnik prijavljen */
      allow write: if request.auth != null;
    }
  }
}
